/* Wallpoet-Regular */
@font-face {
  font-family: "Wallpoet", serif;
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.rawgit.com/edsonfajilagot/TestCustomFonts/master/files/Wallpoet-Regular.tff') format('truetype');
}
